@font-face{
    font-family: 'RockSalt';
    src: url(./Boracay-SAND/resources/fonts/Rock_Salt/RockSalt-Regular.ttf);
}

@font-face{
    font-family: 'Montserrat';
    src: url(./Boracay-SAND/resources/fonts/Montserrat/static/Montserrat-Light.ttf);

}
