@import url(universal.css);
@import url(time.css);

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/resources/images/A25.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

.banner-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 3;
}

.banner-container img.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    z-index: 10;
    color: var(--color1);
}

.logo img {
    width: 300px;
    height: auto;
}

.logo h1 {
    max-width: 1000px;
    font-size: 25px;
}
.logo p {
    max-width: 1000px;
    font-size: 20px;
}
.logo-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.logo-buttons button {
    padding: 12px 25px;
    font-size: 20px;
    background-color: var(--color1);
    color: var(--color2);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Montserrat";
    text-shadow: var(--text-shadow);
}
.logo-buttons button.explr{
    padding: 12px 61px;
}
.logo-buttons button:hover {
    background-color: var(--color4);
}

.location {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.location img {
    width: 25px;
}

.location p {
    margin: 0;
    font-size: 25px;
    color: var(--color1);
    text-shadow: var(--text-shadow);
}

.arrow-down {
    width: 50px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
    z-index: 10;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-20px);
    }
    60% {
        transform: translateX(-50%) translateY(-10px);
    }
}

@media screen and (max-width: 900px) {

    .banner-container {
        overflow: hidden;
    }

    .logo-buttons {
        flex-direction: column;
        gap: 15px;
    }

    .logo-buttons button {
        width: 100%;
        font-size: 18px;
    }

    .logo h1 {
        font-size: 15px;
    }

    .logo p {
        max-width: 1000px;
        font-size: 15px;
    }

    .logo img {
        width: 200px;
    }

    .location img {
        width: 20px;
    }

    .location p {
        font-size: 20px;
    }

    .arrow-down {
        width: 40px;
        bottom: 15px;
    }

}
