@import url(universal.css);
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.9);
    padding-top: 60px;
    
}

.modal-content {
    background: var(--color1);
    margin: auto;
    width: 350px;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 32px;
    cursor: pointer;
}

.imgcontainer {
    text-align: center;
}

.avatar {
    width: 100px;

}

.container {
    padding: 15px;
}

.login-btn {
    width: 100%;
    background: var(--color3);
    color: var(--color1);
    padding: 12px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: 0.3s;
}
.login-btn:hover{
    background-color: var(--color4);
    transition: 0.3s;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid var(--color4);
}

.chcbx{
    padding-top: 20px;
}