@import url(/universal.css);
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px;
    position: relative;
}
.nav-links{
    display: none;
    position: absolute;
    right: 30px;
    top: 100px;
    background: var(--color1);
    padding: 10px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.nav-links a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--color2);
    transition: 0.2s;
}
.nav-links a:hover{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--color4);
    transition: 0.2s;
}
#menu-btn {
    font-size: 28px;
    cursor: pointer;
    border-radius: 10px;
    padding-right: 40px;

}

