@import url(fonts.css);
:root{
    --color1: white;
    --color2: black;
    --color4: grey;
    --color3: rgb(64, 64, 64);
    --text-shadow: 1px 1px 50px black;
    --text-shadow2: 1px 1px 5px black;
    --box-shadow: 1px 1px 50px black;
}
